:root {
  --main-color: #ffc500;
}

.top {
  margin-top: 100px;
}

/* reduces margin on small (sm) screens */
@media (max-width: 991px) {
  .top {
    margin-top: 35px;
  }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true.css-1vd824g-MuiGrid-root {
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 50px;
    /* ff 3.6+ */
    background:-moz-linear-gradient(156deg, rgba(3, 169, 244, 1) 0%, rgba(255, 235, 59, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(156deg, rgba(3, 169, 244, 1) 0%, rgba(255, 235, 59, 1) 100%);
  
    /* opera 11.10+ */
   background:-o-linear-gradient(156deg, rgba(3, 169, 244, 1) 0%, rgba(255, 235, 59, 1) 100%);
  
   /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb3b', endColorstr='#03A9F4', GradientType=1 );
  
   /* ie 10+ */
   background:-ms-linear-gradient(156deg, rgba(3, 169, 244, 1) 0%, rgba(255, 235, 59, 1) 100%);
  
   /* global 94%+ browsers support */
   background:linear-gradient(156deg, rgba(3, 169, 244, 1) 0%, rgba(255, 235, 59, 1) 100%);
}

/* Section Titles and Underline Styling */
.section_title {
  position: relative;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section_title > h6 {
  font-size: 20px;
  font-weight: 600 !important;
  position: relative;
  margin: 0;
}

.section_title > span {
  background-color: var(--main-color);
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.section_title > h6 > span {
  background-color: var(--main-color);
  position: absolute;
  height: 7px;
  width: 75px;
  bottom: 0;
  opacity: 0.4;
  left: 0;
}

/* Resume Timeline Header */
.MuiTypography-root.timeline_header.MuiTypography-h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.timeline_holder.css-1idn90j-MuiGrid-root {
  position: relative;
  right: 10px;
  width: auto;
}
