.profile_container {
  margin-right: 10px !important;
  padding: 20px !important;
}

.profile_background {
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: inline-flexbox;
  background-color: #d6e3e7;
  width: 100%;
}

.profile_name {
  padding: 22px 0 20px 30px;
}

.profile_name .name {
  text-transform: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.profile_name .title {
  font-size: 17px;
  color: #777;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 33px;
}

/* Profile Image */
.profile_image {
  margin-top: -30px;
  position: relative;
  top: 12px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image img {
  display: flex;
  width: 100%;
  align-items: center;
}

/* Profile Information Styling */
.profile_info {
  margin: -50px 20px 30px;
}

.profile_info .svg-inline--fa.fa-user-tie {
  color: black;
  font-size: 22.5px;
  height: 23px;
  width: 23px;
}

.profile_info#location_text {
  margin-top: 10px;
}

.timeline .timeline_content {
  margin-bottom: 3px;
}

.profile_info .timeline .timeline_item_text {
  color: #787878;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  padding: 0px;
  position: relative;
  bottom: 5px;
}

.profile_info .timeline .timeline_item_text > span {
  font-weight: bold;
  color: black;
}

.profile_info .timeline .timeline_item_text > a {
  color: inherit;
  text-decoration: none;
}

/* Profile Icons */
.MuiSvgIcon-root.MuiSvgIcon-colorPrimary {
  color: #0a66c2;
}

.MuiSvgIcon-root.MuiSvgIcon-colorSecondary {
  color: #24292f;
}

.MuiSvgIcon-root.MuiSvgIcon-colorAction {
  color: #ff0000;
}

.main_content {
  background-color: whitesmoke;
  min-height: 80vh;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 10px;
  padding: 35px;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;
  bottom: 15px;
}
