.form_container {
  text-align: justify;
  position: relative;
  left: 2.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form_container input {
  border-radius: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form_container textarea {
  border-radius: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form_container svg {
  margin-right: 2.5%;
}

#form_enter_message {
  margin-left: 4% !important;
}

.form_container .svg-inline--fa.fa-message.fa-flip-horizontal.fa-xs {
  position: relative;
  right: 10%;
  bottom: 45%;
}