.footer {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  border-radius: 6px;
  padding: 18px 25px 13px 25px;
}

.footer .footer_right .footer_copyright .a_link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer .footer_left .footer_rights {
  color: inherit;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer .footer_right .footer_designed {
  color: inherit;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer .footer_right .footer_designed > a {
  color: inherit;
  text-decoration: none;
}

.footer .footer_right .footer_designed #author_reference {
  color: inherit;
  text-decoration: none;
}

.footer .footer_right .footer_designed > div {
  margin-top: 5px;
}