.custom_btn {
  background-color: var(--main-color) !important;
  font-weight: 500;
  border: 0px;
  border-radius: 50px !important;
  padding: 2px 12px;
  line-height: 35px;
  min-width: 100px;
  outline: none;
}

.custom_btn .btn_icon_background {
  color: black;
  background: white;
  border-radius: 50px;
  height: 27px;
  width: 27px;
  line-height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.custom_btn .btn_text {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: none;
  text-align: center;
  width: 100%;
}